html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

:root {
    --font-heading: Sen, sans-serif;
}

/* =========== Common CSS ============= */

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    border-radius: 999px;
    background: #171100;
    padding: 17px 12px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.8;
}

/* ================ Header fixed ================= */

.header.fixed {
    background: #fffcf4;
    padding-top: 28px;
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    padding: 8px 0 8px;
    display: flex;
    align-items: center;

    .nav {
        margin-left: auto;
    }
}
.body .logo {
    margin-right: 491px;
}

.body .nav ul {
    display: flex;
    a {
        display: inline-block;
        padding: 8px 21px;
        color: #5f5b53;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
        &:hover {
            font-weight: 600;
            text-decoration: underline;
            color: #171100;
        }
    }
}

.nav a::before {
    content: attr(title);
    display: block;
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.body .action {
    margin-left: 49px;
}

.body .action-btn {
    min-width: 144px;
    border-radius: 24.5px;
}

/* =========== Hero ============ */

.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .img-hero {
    position: relative;
    width: 48%;
    height: 685px;
}

.hero .img-hero .big-img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .course {
    padding: 24px;
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.desc-course .icon {
    margin-right: 16px;
    background: #fff9e8;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc-course:nth-of-type(2) .icon {
    background: #fcefff;
}

.desc-course:nth-of-type(3) .icon {
    background: #ebeaff;
}

.desc-course {
    display: flex;
    align-items: center;
}

.desc-course + .desc-course {
    margin-top: 22px;
}

.desc-course .infor {
    padding: 24px 0 24px 24px 24px;
}

.desc-course .infor .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.desc-course .infor .title {
    font-size: 1.8rem;
    color: #171100;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

/* ======== content-block ======== */
.content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .heading {
    font-family: var(--font-heading);
    color: #171100;
    font-size: 5.8rem;
    line-height: 1.17; /* 117.241% */
    letter-spacing: -0.116rem;
}

.content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    /*166.667% */
}

.content-block .cta-group {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.cta-group .hero-cta {
    min-width: 180px;
    padding: 24px 12px;
    border-radius: 32px;
    background: #ffb900;
}

.cta-group .icon {
    border-radius: 40px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-group span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    /*166.667%*/
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.content-block .desc:nth-of-type(2) {
    margin-top: 48px;
}

.content-block .desc:nth-of-type(3) {
    margin-top: 8px;
    line-height: 1.2;
}

.stats strong {
    padding-right: 8px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
}

.stats strong:last-child {
    margin-left: 28px;
}
